<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fechar</button>
    </div>
  </ion-header-bar>
	
  <ion-content>
    <form ng-submit="doLogin()" name="loginForm">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input class="email" name="email" type="text" ng-model="loginData.username" ng-minlenght="5" required>
          <!--<input class="email" name="email" type="email" ng-model="loginData.username" ng-minlenght="5" required>-->
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input class="password" type="password" ng-model="loginData.password" ng-minlenght="4" required>
        </label>
        <label class="item">
          <button class="button button-bar-inline button-balanced" ng-click="register()">Register</button>
          <button class="button button-bar-inline button-balanced" ng-click="unregister()">Unregister</button>
          <p>Device Token</p>
            <textarea readonly>{{regId}}</textarea>
            <ion-list>
                <ion-item ng-repeat="notification in notifications track by $index" type="item-content">
                    {{notification}}
                </ion-item>
            </ion-list>  
        </label>
        <label class="item">
          <button ng-disabled="loginForm.$invalid"  class="button-block button button-energized" type="submit">Log in</button>
        </label>
        
        
      </div>
    </form>
  </ion-content>
  
</ion-modal-view>
