<div class="wc_backgroud">
</div> 
<ion-content class="wc_container">
	<div class="logo"></div>
	<label class="">	
    	<button ng-click="login()" class="button button-block button-positive">Login</button>
    </label>
    <label class="">	
    	<button ng-click="cadastro()" class="button button-block button-positive">Cadastro</button>
    </label>
    <label class="">	
    	<button ng-click="senhaRecupera()" class="button button-block button-positive">Recuperar Senha</button>
    </label>
    <b><div align="center"></div></b> 
 
</ion-content>   
<div class="bar bar-footer footer">
  <div class="title">FIDELIDADE</div>
</div>

