# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/com.ionic.deploy
plugins/com.ionic.keyboard
plugins/org.apache.cordova.console
plugins/org.apache.cordova.device
plugins/org.apache.cordova.splashscreen