<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.appios233816" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Double Let's Eat IOS</name>
  <description>&#xD;&#xD;&#xD;
       Um projeto Cordova e Ionic Framework : Vagner Araújo.&#xD;&#xD;&#xD;
    </description>
  <author email="vagnerarau@gmail.com" href="">&#xD;&#xD;&#xD;
      Vagner Araújo;&#xD;&#xD;&#xD;
    </author>
  <content src="index.html"/>
  <icon src="resources/ios/icon/icon.png"/>
  <access origin="*"/>
  <preference name="orientation" value="portrait"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen.png" density="port-hdpi"/>
  </platform>
  <platform name="ios">
    <splash src="resources\ios\splash\Default@2x~iphone.png" width="640" height="960"/>
    <splash src="resources\ios\splash\Default~iphone.png" width="320" height="480"/>
  </platform>
</widget>