<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.appios233816" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Double Let's Eat IOS</name>
  <description>
       Um projeto Cordova e Ionic Framework : Vagner Araújo.
    </description>
  <author email="vagnerarau@gmail.com" href="">
      Vagner Araújo
    </author>
  <content src="index.html"/>
  
  <icon src="resources/icon.png" />
   
  <access origin="*"/>
  <preference name="orientation" value="portrait" />  <!-- Tipo de tela-->
  <preference name="fullscreen" value="false" />      
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>